<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./static/assets/favicon.ico">
    <title>Golden Sneaker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap">
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>
    <div class="container">

        <section class="products">
            <div class="product-header">
                <img class="logo" src="./static/assets/nike.png">
                <h2>Our Products</h2>
            </div>
            <div class="productList">
                <!-- Products will be dynamically generated here -->
            </div>
        </section>

        <section class="cart">
            <div class="cart-header">
                <div>
                    <img class="logo" src="./static/assets/nike.png">
                    <h2>Your Cart</h2>
                </div>

                <h2 class="total-price">
                    $0.00
                </h2>
            </div>
            <div class="cart-items">
                <!-- Cart items will be dynamically generated here -->
            </div>

            <div class="cart-empty">
                Your cart is empty.
            </div>
        </section>

        <span class="shape"></span>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./static/script.js"></script>

</body>

</html>
